server/.gradle
server/.idea
server/build/*
server/build/classes

# Ignore Gradle GUI config
server/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
server/!gradle-wrapper.jar

# Cache of project
server/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

server/.idea/*
server/.idea/modules.xml
server/.idea/compiler.xml
server/.idea/misc.xml
server/.idea/modules/server.iml
*.iml
server/.idea/scala_compiler.xml